<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg%n"/>
        </Console>
        <Console name="Prompt" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg "/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="prompt" level="${sys:log4j.cli.level:-INFO}" additivity="false">
            <AppenderRef ref="Prompt"/>
        </Logger>
        <Logger name="cli" level="${sys:log4j.cli.level:-INFO}"/>
        <Root level="${sys:log4j.root.level:-WARN}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
